//
//  Production.xcconfig
//  CoordinatorDemo
//
//  Created by annpriya on 03/10/19.
//  Copyright © 2019 annpriya. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974


#include "Shared.xcconfig"

OTHER_SWIFT_FLAGS = $(inherited)  "-D" "Staging"
